.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    height:100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
  }
  
  .choice-text {
    padding: 1.5rem;
    text-align: center;
    width: 100%;
  }
  
  .correct {
    background-color: #28a745;
  }
  
  .incorrect {
    background-color: #dc3545;
  }
  
  .question-grid{
    text-align: center;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px,1fr));
    grid-gap: 5px;
    padding: 10px;
    column-gap: 7px;
    justify-items: center;
    align-items: center;
    height:100%;
    width:70%;
  }

  #question{
    text-align: center;
    margin-top: 3%;
  }
  


  /* HUD */
  
  #hud {
    display: absolute;
    justify-content: space-between;
    margin-bottom: 2%;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }
  
  #progressBar {
    display: block;
    width: 40rem;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
    margin: auto;
    margin-top: 0.5rem;
    text-align: center;
  }
  
  #progressBarFull {
    display: block;
    height: 3.4rem;
    background-color: #56a5eb;
    width: 0%;
  }

  #progressText{
    margin-top: 1rem;
  }


  /* Question button and images*/

  #innerImage{
    margin-top: 200px;
    position: relative;
    text-align: center;
    max-width: 1000px;
    height:auto;
  }

  .Next{
    text-align: center;
  }

  #correctBox{
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #incorrectBox{
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #nextQuestion{
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    margin: auto;
    border: 0.1rem solid #56a5eb;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
  }
  
  #nextQuestion:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  #nextQuestion[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }