@media screen and (max-width : 640px){
    body .entry-content .alignfull {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .imagebox #overlay_text{
        overflow-wrap: auto;
        display: none;
        }
    }

@viewport{
    width: device-width;
    zoom: 1.0;
}

body{
    height: 100% !important;
	margin: 0;
	background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
	overflow-x: auto;
	max-width: 100%;
    text-align: center;
}

h1{
    padding-top: 10%;
    font-size: 2.4rem;
    color: #333;
    margin: auto;
    text-align:center;

}

.container {
    width: 100vw;
    height: 120vh;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1.5rem;
}

.imagebox{
    position:center;
    object-position: center;
    text-align: center;
}

.responsive{
    max-width: 100%;
    height: auto;
}

.imagebox #overlay_text{
    position: relative; 
    white-space: nowrap; 
    top: 370px; 
    left:-160px; 
    z-index: 7;
}


.introbox{
    position: center;
    text-align:center;
    width: fit-content;
    margin:auto;
    max-width: 70%;
    padding: 10px;
    font-size: large;
}

.bottombutton{
    position: center;
    text-align:center;
    width: fit-content;
    margin:auto;
    max-width: 50%;
    padding: 20px;
}

#imagebutton{
    position:absolute;
    border: 3px solid black;
    background-color: black;
    padding: 2px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
}

#bottomlink{
    border: 3px solid dodgerblue;
    background-color: dodgerblue;
    padding: 2px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}