@viewport{
    width: device-width;
    zoom: 1.0;
}

@media screen and (max-width : 980px){
   /* body .entry-content .alignfull {
        margin-left: auto !important;
        margin-right: auto !important;
    }*/
    body{
        height: 100% !important;
        margin: 0;
        background-color: #fff;
        color: #333;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        line-height: 1.42857;
        overflow-x: hidden;
        max-width: 100%;
        text-align: center;
    }
    
    h1{
        width: 85%;
        padding-top: 10%;
        font-size: 2.4rem;
        color: #333;
        margin: auto;
        text-align:center;
        text-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
    
    }
    
    .container {
        width: 100vw;
        height: 120vh;
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 1.5rem;
    }

    .topwrapper{
        position: absolute;
        text-align: center;
        width: 100%;
        height: 50px;
        overflow: hidden;
    }

    .topbox{
        position: center;
        text-align:center;
        width: 320px;
        height: 50px;
        max-height: 50px;
        border: 10px;
        margin:auto;
        padding: 20px;
        padding-bottom: 10px;
        background-color: aquamarine;
    }

    /*.middlead{
        position: center;
        text-align:center;
        width: 468px;
        height: 60px;
        max-height: 250px;
        border: 10px;
        margin:auto;
        padding: 20px;
        padding-bottom: 10px;
        background-color: aquamarine;
    }*/

    .middlebox{
        position: center;
        text-align:center;
        width: 320px;
        height: 50px;
        max-height: 50px;
        border: 10px;
        margin:auto;
        padding: 20px;
        padding-bottom: 10px;
        background-color: aquamarine;
    }

    
    .imagebox{
        position:center;
        object-position: center;
        text-align: center;
    }
    
    .responsive{
        max-width: 100%;
        height: auto;
    }
    
    .introbox{
        position: center;
        text-align:center;
        width: fit-content;
        margin: auto;
        max-width: 700px;
        padding: 10px;
        font-size: large;
    }
    
    #imagebutton{
        position:absolute;
        border: 3px solid black;
        background-color: black;
        padding: 2px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 23px;
    }
    
    .bottombutton{
        position: center;
        text-align:center;
        width: fit-content;
        margin:auto;
        max-width: 50%;
        padding: 20px;
    }
    
    #bottomlink{
        border: 3px solid dodgerblue;
        background-color: dodgerblue;
        padding: 2px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
    }

    /*.bottomwrapper{
        position: relative;
        width: 100%;
        height: 100px;
        overflow: hidden;
    }*/
    
    .bottombox{
        position: center;
        text-align:center;
        width: 320px;
        height: 50px;
        max-height: 50px;
        border: 10px;
        margin:auto;
        padding: 20px;
        padding-bottom: 10px;
        background-color: aquamarine;
    }

    .imagebox #overlay_text{
        position: relative;
        display: none;
        }

        #sidebox1{
            height: 100%;
            width: 10%;
            position:fixed;
            z-index: 1;
            top:0;
            left:0;
            background-color: aquamarine;
            overflow-x: hidden;
            padding-top: 20px;
            display: none;
          }
        
        #sidebox2{
            height: 100%;
            width: 10%;
            position:fixed;
            z-index: 1;
            top:0;
            right:0;
            background-color: aquamarine;
            overflow-x: hidden;
            padding-top: 20px;
            display: none;
          }
        
        /*.middlebox{
            position: center;
            text-align:center;
            width: fit-content;
            margin:auto;
            max-width: 50%;
            padding: 20px;
            display: visible !important; 
        }
        
        #middlelink{
            border: 3px solid black;
            background-color: black;
            padding: 2px;
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 10%;
            display: visible !important;
        }*/
    }





@media screen and (min-width : 980px){    
body{
    height: 100% !important;
	margin: 0;
	background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
	overflow-x: hidden;
	max-width: 100%;
    text-align: center;
}

h1{
    width: 70%;
    padding-top: 10%;
    font-size: 2.4rem;
    color: #333;
    margin: auto;
    text-align:center;
    text-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;

}

.container {
    width: 100vw;
    height: 120vh;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1.5rem;
}

.topwrapper{
    position: absolute;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.topbox{
        position: center;
        text-align:center;
        width: 720px;
        height: 90px;
        max-height: 90px;
        border: 10px;
        margin:auto;
        padding: 20px;
        padding-bottom: 10px;
        background-color: aquamarine;
    }

.imagebox{
    position:center;
    object-position: center;
    text-align: center;  
}

.responsive{
    max-width: 100%;
    height: auto;
}

.introbox{
    position: center;
    text-align:center;
    width: fit-content;
    margin: auto;
    max-width: 700px;
    padding: 10px;
    font-size: large;
}

#imagebutton{
    position:absolute;
    border: 3px solid black;
    background-color: black;
    padding: 2px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
}

.bottombutton{
    position: center;
    text-align:center;
    width: fit-content;
    margin:auto;
    max-width: 50%;
    padding: 20px;
}

#bottomlink{
    border: 3px solid dodgerblue;
    background-color: dodgerblue;
    padding: 2px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

/*.bottomwrapper{
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
}*/

.bottombox{
    position: center;
    text-align:center;
    width: 728px;
    height: 90px;
    max-height: 90px;
    border: 10px;
    margin:auto;
    padding: 20px;
    padding-bottom: 10px;
    background-color: aquamarine;
}

.imagebox #overlay_text{
    position: relative; 
    white-space: nowrap; 
    top: 370px; 
    left:-160px; 
    z-index: 7;
}

#sidebox1{
    height: 100%;
    width: 120px;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: aquamarine;
    overflow-x: hidden;
    padding-top: 20px;
  }

#sidebox2{
    height: 100%;
    width: 120px;
    position:fixed;
    z-index: 1;
    top:0;
    right:0;
    background-color: aquamarine;
    overflow-x: hidden;
    padding-top: 20px;
  }



.middlebutton{
    position: center;
    text-align:center;
    width: fit-content;
    margin:auto;
    max-width: 50%;
    padding: 20px;
    display: none; 
}

#middlelink{
    border: 3px solid dodgerblue;
    background-color: dodgerblue;
    padding: 2px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    display: none;
}

.middlead{
    position: center;
    text-align:center;
    width: 720px;
    height: 90px;
    max-height: 250px;
    border: 10px;
    margin:auto;
    padding: 20px;
    padding-bottom: 10px;
    background-color: aquamarine;
}

.middlebox{
    position: center;
    text-align:center;
    width: 720px;
    height: 90px;
    max-height: 90px;
    border: 10px;
    margin:auto;
    padding: 20px;
    padding-bottom: 10px;
    background-color: aquamarine;
}
}